*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.project-container h1{
    padding: 50px;
    text-align: center;
    font-size: 45px;
    color: orangered;
&:hover{
    transform: translateY(5px);
}
}
.project-sub-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   padding: 20px;
}
.project-card{
    border: 1px solid rgb(198, 195, 195);
    border-radius: 10px;
}
.project-card:hover {
     box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08),
    0 20px 40px rgba(0, 0, 0, 0.12);
}

.project-card p{
    padding: 5px;
    color: gray;
} 
.project-card h2{
    padding: 5px;
    color: black;
}
.project-card img{
    width: 100%;
    height: 50%;
    transition-duration: 700ms;
&:hover{
    transition-duration: 700ms;
    transform: scale(1.15);
    background-color: gray;
    opacity: 1;
}
}
