.skills-container {
    padding: 50px;
    background: linear-gradient(135deg, #ffe5cc 0%, #ffffff 40%, #ffffff 60%, #ffe5cc 100%);
}

.skills-container h1:hover {
    cursor: pointer;
    transform: translateY(-3px)
}

.skill-heading h1 {
    text-align: center;
    padding: 30px 0px;
    font-size: 45px;


    span {
        color: orangered;
    }
}

#sub-head {
    color: gray;
    padding-bottom: 30px;
    text-align: center;
}

.tech-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.tech-sub-container {
    margin-top: 10px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

    &:hover {
        transition-duration: 500ms;
        transform: translateY(-5px);
    }
}

.tech-sub-container h3 {
    color: orangered;
    transition-duration: 1s;

    &:hover {
        transition-duration: 700ms;
        transform: translateX(5px);
    }
}

.tech-sub-container p {
    color: gray;
    font-size: small;
}

.tech-logos-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.tech-img {
    height: 11%;
    width: 11%;
    /* border: 1px solid rgb(232, 232, 232); */
    border-radius: 8px;
    background-color: white;
}

#html {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px orange;
        transform: scale(1.2);
    }
}

#css3 {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px rgb(72, 206, 250);
        transform: scale(1.2);
    }
}

#bootstrap {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px rgb(237, 114, 237);
        transform: scale(1.2);
    }
}

#javascript {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px yellow;
        transform: scale(1.2);
    }
}

#react {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px rgb(72, 206, 250);
        transform: scale(1.2);
    }
}

#python {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px wheat;
        transform: scale(1.2);
    }
}

#django {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px lightgreen;
        transform: scale(1.2);
    }
}

#sql {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px wheat;
        transform: scale(1.2);
    }
}

#git {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px rgb(254, 126, 79);
        transform: scale(1.2);
    }
}

#github {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px rgb(134, 132, 132);
        transform: scale(1.2);
    }
}

#mysql {
    transition-duration: 300ms;

    &:hover {
        transition-duration: 700ms;
        box-shadow: 0 0 15px grey;
        transform: scale(1.2);
    }
}

body.dark .skills-container {
    background: linear-gradient(135deg,
            #1a1a1a 0%,
            #111 40%,
            #111 60%,
            #1a1a1a 100%);
}

/* Responsive Design */
@media (max-width: 768px){
    .tech-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}