.skills-container {
    padding: 50px;
    background: linear-gradient(135deg, #ffe5cc 0%, #ffffff 40%, #ffffff 60%, #ffe5cc 100%);

    h1:hover {
        cursor: pointer;
        transform: translateY(-3px)
    }
}

.skill-heading h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 45px;
span{
    color: orangered;
}
}
#sub-head{
    color: gray;
    padding-bottom: 30px;
    text-align: center;
}

.tech-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.tech-sub-container {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    &:hover {
        transition-duration: 500ms;
        transform: translateY(-5px);
    }
}
.tech-sub-container h3{
    color: orangered;
}
.tech-sub-container p{
    color: gray;
    font-size: small;
}
.tech-logos-container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}
.tech-img {
    height: 11%;
    width: 11%;
    /* border: 1px solid rgb(232, 232, 232); */
    border-radius: 8px;
    background-color: white;
}
#html{
    &:hover{
        transition-duration: 700ms;
        box-shadow: 0 0 15px orange;
    }  
}

