.about-heading{
    text-align: center;
    font-size: 45px;
    width: 100vw;
    text-decoration: underline;
    margin-bottom: 50px;
}
.about-heading span{
    color: orangered;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
}

.about-container h1{
    color: orangered;
    text-align: start;
    font-size: 28px;
}
.about-container h1 span{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid orangered;
    border-radius: 50%;
    margin-right: 5px;
    background-color: rgb(249, 218, 208);
}
.education{
    border: 0.5px solid gray;
    border-radius: 8px;
    padding: 5%;
    margin-bottom: 2%;
}
.education div{
    font-size: small;
    color: gray;
    padding: 10px 0px;
}
.time{
    display: inline;
    font-size: small;
    border: 1px solid rgb(254, 111, 58);
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(247, 232, 227);
    color: orangered;
}