.about-heading{
    text-align: center;
    font-size: 45px;
    width: 100vw;
    padding-top: 80px;
    &:hover{
        cursor: pointer;
        transform: translateY(-3px)
    }
}
.about-heading span{
    color: orangered;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: 5%;
}

.about-container h1{
    color: orangered;
    text-align: start;
    font-size: 28px;
    padding-bottom: 20px;
}
.about-container h1 span{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid orangered;
    border-radius: 50%;
    margin-right: 5px;
    background-color: rgb(249, 218, 208);
}
.about-education{
    margin-right: 60px;
}
.education{
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 8px;
    padding: 20px 0px 20px 20px;
    margin-bottom: 2%;
    opacity: 1;
}
.education div{
    font-size: small;
    color: gray;
    padding: 10px 0px;
}
.education h3{
    display: inline-block;
    width: auto;
}
.time{
    display: inline;
    font-size: small;
    border: 1px solid rgb(254, 111, 58);
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(254, 245, 233);
    color: orangered;
}
.location-ico{
    font-size: 15px;
    color: orangered;
    padding-right: 5px;
}

.about-philosophy{

ul{
   border: 1px solid rgba(128, 128, 128, 0.3);
   border-radius: 8px;
   padding: 10px;
   background-color: rgb(254, 245, 233);
li{
    color: gray;
    font-size: 15.5px;
    padding-bottom: 6.5px;
span{
    color: rgb(245, 90, 33);
    font-weight: 500;
}
}
}
}

body.dark .about-philosophy ul{
    background-color: hsla(0, 0%, 0%, 0.3);
}
/* Responsive Desing */
@media (max-width:768px){
    .about-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .about-heading{
        padding-top: 0px;
    }
}