.home-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

/* home left side */
.home-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px ;
}
.home-left h1{
    font-size: 40px;
}
#role{
    border: 1.5px solid orangered;
    border-radius: 20px;
    width: 265px;
    padding: 5px 10px;
    color: orangered;
    background-color: rgb(249, 214, 201);
}
.name{
    color: orangered;
}
#text{
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: grey;
    font-size: 15px;
}
.contact-me{
    button{
        border: none;
        padding: 5px 10px;
        background-color: rgb(248, 104, 52);
        color: white;
        border-radius: 8px;
        margin: 5px;
        &:hover{
            background-color: orangered;      
        }
    }
}
/* home right side */
.profile-container{
    position: relative;
    display: inline-block;
}
.profile-img{
    margin-top: 10px;
    width: 34vw;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile-container:hover .image-title{
    opacity: 1;
}
.image-title{
    width: 250px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
}
.image-title p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: gray;
}
.image-title h4{
    text-align: center;
}
.hai-img{
    width: 80px;
}

body.dark .image-title h4{
    color: black;
}

/* Responsive Design */

/* á¹‚obile Design */
@media screen and (max-width: 430px){
    .profile-container{
        height: 480px;
    }
    .home-right .profile-img{
        width: 350px !important;
        height: 350px !important;
    }
    .image-title{
        top: 50%;
        left: 52.5%;
        height: 170px;
        width: 180px;
        font-size: small;
    }
    .hai-img{
        width: 80px !important;
        height: 80px !important;
    }
    .home-container .home-left{
        text-align: center;
        padding-top: 0px;
        padding-bottom: 50px;
    }
}


/* Tab Design */
@media (max-width: 912px){
    .home-container{
        flex-direction: column;  
    }
    .home-right{
        order: -1;
        display: flex;
        justify-content: center;
    }
    .home-right .profile-img{
        width: 450px;
        height: 450px;
        margin: 20px 0px;
    }
    .home-left{
        order: 1;
        display: flex;
        align-items: center;
    }  
    .image-title{
        height: 218px;
    } 
    .hai-img{
        height: 80px;
        width: 80px !important;
    }
}

/* ipad pro design */
@media (max-width:1024px){
    .profile-img{
        height: 435px !important;
        width: 435px !important;
    }
}