.home-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

/* home left side */
.home-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px ;
}
.home-left h1{
    font-size: 40px;
}
#role{
    border: 1.5px solid orangered;
    border-radius: 20px;
    width: 265px;
    padding: 5px 10px;
    color: orangered;
    background-color: rgb(249, 214, 201);
}
.name{
    color: orangered;
}
#text{
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: grey;
    font-size: 15px;
}
.contact-me{
    button{
        border: 1.5px solid orangered;
        padding: 5px 10px;
        background-color: orangered;
        color: white;
        border-radius: 8px;
        margin: 5px;
        &:hover{
            background-color: lightcoral;      
        }
    }
}
/* home right side */
.profile-img{
    margin-top: 10px;
    width: 34vw;
    border-radius: 50%;
}

/* Responsive Design */
@media (max-width: 768px){
    .home-container{
        flex-direction: column;  
    }
    .home-right{
        order: -1;
        display: flex;
        justify-content: center;
    }
    .home-right img{
        width: 350px;
    }
    .home-left{
        order: 1;
        display: flex;
        align-items: center;
    }   
}