.contact-container {
    padding-top: 7%;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 280%;
    color: orangered;
}

.heading p {
    color: gray;
    margin-top: 1%;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
    padding: 2% 3% 7% 3%;
}
.input-container{
    transition: transform 0.3s ease;
}
.input-container form{
    border: 1px solid rgb(218, 222, 225);
    border-radius: 10px;
    padding: 5%;
}
form h2{
    padding-bottom: 5%;
}

.input-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.input-container input {
    width: 100%;
    padding: 2%;
    margin-bottom: 5%;
    border: 1px solid rgb(218, 222, 225);
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.input-container input:hover,
.input-container textarea:hover,
.input-container button:hover {
    border-color: orangered;
    transform: scale(1.02);
}
.input-container input:focus,
.input-container textarea:focus{
    outline:1.5px solid orangered;
    border: none;
}

.input-container button {
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 2%;
    background-color: rgba(255, 68, 0, 0.879);
    color: white;
}

.input-container textarea {
    width: 100%;
    height: 150px;
    border: 1px solid rgb(218, 222, 225);
    border-radius: 8px;
    padding: 2%;
    margin-bottom: 5%;
    transition: transform 0.3s ease;
}
body.dark .input-container input{
    background-color: black;
}

/* Address Container */
.each-address{
    display: flex;
    gap: 2%;
}