.contact-container {
    padding-top: 7%;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-size: 280%;
    color: orangered;
}

.heading p {
    color: gray;
    margin-top: 1%;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
    padding: 2% 3% 7% 3%;
    height: 641px;
}

.input-container {
    transition: transform 0.3s ease;
}

.input-container form {
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 5%;
}

form h2 {
    padding-bottom: 5%;
}

.input-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.input-container input {
    width: 100%;
    padding: 2%;
    margin-bottom: 5%;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.input-container input:hover,
.input-container textarea:hover,
.input-container button:hover {
    border-color: orangered;
    transform: scale(1.02);
}

.input-container input:focus,
.input-container textarea:focus {
    outline: 1.5px solid orangered;
    border: none;
}

.input-container button {
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 2%;
    background-color: rgba(255, 68, 0, 0.879);
    color: white;
}

.input-container textarea {
    width: 100%;
    height: 150px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 8px;
    padding: 2%;
    margin-bottom: 5%;
    transition: transform 0.3s ease;
}

body.dark .input-container input {
    background-color: black;
}

body.dark .input-container textarea {
    background-color: black;
}

/* Address Container */
.sub-address-container {
    display: grid;
    gap: 20px;
}

.each-address {
    display: flex;
    gap: 3%;
    padding: 10px;

}

.each-address h4 {
    color: gray;
    font-weight: 400;
}

.each-address a {
    text-decoration: none;
    color: black;
}
.each-address:hover .address-icons{
    transform: rotate(20deg) scale(1.1);
}

.email-container a:hover,
.phone-container a:hover {
    transform: scale(1.1);
    margin: 5px;
    transition-duration: 100ms;
}

.address-icons {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    color: orangered;
    font-size: 150%;
    padding: 3px 10px;
    border-radius: 8px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.address-icons:hover {
    transform: rotate(20deg) scale(1.1);
}

iframe {
    margin-top: 50px;
    height: 200px;
}

body.dark .each-address a {
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        height: 1200px;
        padding: 15px;
    }

    .input-container {
        height: 540px;
        margin: 10px;
    }
    .input-container form{
        height: 540px;
    }

    .address-container {
        height: 550px;
    }
}