* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* LIGHT MODE (default) */
body {
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* DARK MODE */
body.dark {
    background-color: #111;
    color: white;
}

/* Navbar also changes */
body.dark .navbar-container {
    background-color: #1a1a1a;
    color: white;
}

/* Optional: links color */
body.dark .links li:hover {
    color: orangered;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    color: black;
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.navbar-container h2 {
    font-size: 20px;
}

.brace {
    color: orangered;
}

.links {
    display: flex;
    gap: 20px;
    list-style: none;

}

.links li {
    cursor: pointer;
    color: black;
    &:hover {
        color: orangered;
    }
}
.links a{
    text-decoration: none;
}

.resume-theme {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resume-theme button {
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(248, 104, 52);
    border: none;
    color: white;
    border-radius: 8px;
}
.resume-theme button:hover{
    background-color: orangered;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
body.dark .links li{
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    .links {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        display: none;
    }

    .links.active {
        display: flex;
    }

    .resume-theme {
        display: none;
    }
}