.footer-container{
    padding: 40px;
}
.footer-container p{
    color: gray;
}
.footer-top{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    padding-bottom: 80px;
}
.footer-left h2{
    font-weight: 500;
    color: orangered;
}
.footer-center div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer-center div a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin: 10px;
    padding: 6px ;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    
    border-radius: 10px;

    width: 40px;
    height: 40px;
    overflow: hidden;
    transition: 0.4s ease;
}
.footer-center div a i{
    font-size: 25px;
    min-width: 25px;
}
.footer-center div a span{
    white-space: nowrap;
    opacity: 0;
    transition: 0.3s;
}
.footer-center div a:hover{
    width: 180px;
}
.footer-center div a:hover span{
    opacity: 1;
}

.footer-center .bi-whatsapp{
    color: green;
    
}
.footer-center .bi-linkedin{
    color: rgb(25, 164, 239);
}
.footer-center .bi-github{
    color: black;
}
.footer-right button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 104, 52);
    color: white;
    margin: 30px;
}
.footer-right button:hover{
    background-color: orangered;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.footer-bottom p span{
    color: orangered;
}
.footer-bottom a{
    color: gray;
    text-decoration: none;
    padding-right: 10px;
}
body.dark .bi-github{
    color: gray;
}
body.dark .footer-center div a{
    color: white;
}